.form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 100px;
    padding-left: 150px
}
.form input {
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    border-bottom: 1px solid gainsboro;
    height: 40px;

}
.title {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px
}
.form label {
    text-align: left;
    font-size: 17px;
    color: gray
}
.btn {
    width: 20%;
    background: #03cafc;
    border:  1px solid #03cafc;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 50px
}
@media screen and (max-width:800px){
    .btn{
        width: 20%
    }
}
.text {
    color: red
}
