.links {
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 50px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;

    
}
.links li{
    text-decoration: none;
    list-style: none;
    color: black
    
}
.link{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold

    
}