.links {
    background: white;
    padding-top: -100px;
    width: fit-content;
    margin:auto;
    margin-top: 20px;
    border-radius: 50px

}
.content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 30px;
    height: fit-content;
    padding:20px;

    
}
.links li{
    text-decoration: none;
    list-style: none;
    color: black
    
}
.link{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold

    
}
@media screen and (max-width:600px){
    .link{
        font-size: inherit;
        font-weight: normal
    }
}