.main{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 80px
    
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px
}
img{
    max-width: 100%;
    height: auto;
}
.text {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column
}
.para{
    color: #03cafc;
    text-transform: initial;
    font-size: 60px;
    font-weight: bold
}
@media screen and (max-width:600px){
    .para{
        font-size: inherit
    }
}
.title{
    font-size: 60px;
    color: black;
    font-weight: bold;
    
}
@media screen and (max-width:600px){
    .title{
        font-size: inherit
    }
}